<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hawklithm.backyard.persistence.ArticleContentMapper">
    <cache/>
    <sql id="article_detail_field">
        article_code,
        article_content,
        gmt_created,
        gmt_modified,
        sort_id,
        status
    </sql>
    <sql id="article_detail_table">
        article_detail
    </sql>
    <select id="queryByArticleCode" resultType="ArticleContentDO" parameterType="java.util.Map">
        select
        <include refid="article_detail_field"/>
        from
        <include refid="article_detail_table"/>
        where
        article_code = #{articleCode} and article_id = #{articleId}
    </select>

    <insert id="saveArticleContent" parameterType="ArticleContentDO">
        INSERT INTO <include refid="article_detail_table"/>
        (
        <include refid="article_detail_field"/>
        )
        VALUES (
          #{articleCode},
          #{articleContent},
          now(),
          now(),
          #{sortId},
          #{status}
        )
    </insert>
    <update id="updateArticleContentByArticleCodeAndSortId" parameterType="ArticleContentDO">
        UPDATE ${article_detail_table}
        <set>
            <if test="articleContent != null">
                article_content = #{articleContent},
            </if>
            gmt_modified = now(),
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        <where>
          article_code = #{articleCode}
            <if test="sortId != null">
                sort_id = #{sortId}
            </if>
        </where>
    </update>
    <select id="queryArticleContentCountByArticleCode" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from
        <include refid="article_detail_table"/>
        where article_code = #{articleCode}
    </select>
    <delete id="deleteArticleContentByArticleCodePhysically" parameterType="java.lang.String">
        delete from
        <include refid="article_detail_table"/>
        where article_code = #{articleCode}
    </delete>
</mapper>
