<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hawklithm.backyard.persistence.ArticleInfoMapper">
    <cache/>
    <sql id="article_info_field">
    article_info_id,
    article_code,
    creator_id,
    gmt_created,
    gmt_modified,
    article_title,
    article_size
    </sql>
    <sql id="article_info_table">
        article_info
    </sql>
    <select id="queryArticleInfoByCreatorIdAndOffset" parameterType="java.util.Map" resultType="org.hawklithm.backyard.domain.dataobject.ArticleInfoDO">
        SELECT
        <include refid="article_info_field"/>
        from
        <include refid="article_info_table"/>
        <where>
            creator_id = #{creatorId}
        </where>
        limit #{offset},#{length} order by gmt_created desc
    </select>
    <select id="queryArticleInfoByOffset" parameterType="java.util.Map" resultType="org.hawklithm.backyard.domain.dataobject.ArticleInfoDO">
        SELECT
        <include refid="article_info_field"/>
        from
        <include refid="article_info_table"/>
        limit #{offset},#{length} order by gmt_created desc
    </select>
    <select id="queryArticleInfoByCode" parameterType="java.util.Map" resultType="org.hawklithm.backyard.domain.dataobject.ArticleInfoDO">
        SELECT
        <include refid="article_info_field"/>
        from
        <include refid="article_info_table"/>
        <where>
            article_code=#{articleCode}
        </where>
    </select>
    <select id="countArticleInfoByCreatorId" parameterType="java.lang.Integer">
        select count(*)
        from
        <include refid="article_info_table"/>
        <where>
            creator_id = #{creatorId}
        </where>
    </select>
    <update id="insertArticleInfo" parameterType="org.hawklithm.backyard.domain.dataobject.ArticleInfoDO">
        update
        <include refid="article_info_table"/>
        <set>
            gmt_created = #{gmtCreated}
            gmt_modified = #{gmtModified}
            article_title = #{articleTitle}
            article_size = #{articleSize}
        </set>
        <where>
            article_code = #{articleCode} and creator_id = #{creatorId}
        </where>
    </update>
</mapper>
